.News__component {
  display: block;
  margin: 0 auto;
  max-width: 360px;
  cursor: pointer;
  margin: 1rem auto 0 auto;
  background: rgba(33, 33, 33, 0.9);
  & + & {
    margin-top: 3.5rem;
  }
  .News__container {
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    .News__Image {
      padding-bottom: 2rem;
      position: relative;
      margin-bottom: 2rem;
    }
    .News__title {
      box-shadow: 0 -0.5rem 0.4rem rgba(0, 0, 0, 0.30);
      position: absolute;
      bottom: 0;
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 1rem;
      background-color: #212121;
      color: #FAFAFA;
    }
    .News__meta {
      color: #ececdc
    }
    .News__decoration {
      position: relative;
      top: 2px; // offset
      margin-right: 0.5rem;
    }
  }
}