@import '../variables.scss';

.Home__component {
  background-color: $bg;
  min-height: 100vh;
  .Home__header {
    padding: 0.5rem;
  }
  .Home__content {
  

  }
}

.Home__test_container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.test__placeholder {
 width: 100%;
 height: 100%;
 background-color: green;
}

.Home__test {
  position: relative;
  .test__overlay {


  }
  .test__diskContainer {
    
    position: absolute;
    align-items: center;
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    
    .test__disk {
      height: 230px;
      width: 230px;
      background-color: #414141;
      border-radius: 100%;
      
    }
    .test__imageContainer {
    }
  }
}
