@import '../styles/variables.scss';

.app__container {
  position: relative;
  width: 100%;
}
.app__content {
  min-height: 140vh;
}

.test {
  max-width: 100%;
  width: 100%;
  min-height: 100%;
  background-color: $bg;
  position: static;
}

.borderAndShadow {
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 2px 1.5px rgba(98, 98, 98, 0.2);
  border-radius: 4px;
}

.articleTitle {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  letter-spacing: 0.15px;
  line-height: 22px;
  margin-left: 1rem;
  margin-right: 1rem;
  color: #FAFAFA;
}
