$red: rgba(221, 48, 48, 0.8);

//BGs
$bg: #212121;
$bg__menu: #4F4D4D;
$bg__menu-darker: #424242; 


//Text
$title-text: #FAFAFA;
$sub-text: #DFDFDF;
$title-font: "Open Sans", "Source Sans Pro", sans-serif;
$meta-font: Roboto Condensed, Ubuntu, sans-serif;

//Layout
$navigation__height: 2.75rem;

$circleButton__size: 2.75rem;

$default_size: 16rem;
$size_xs: 320px;
$size_s: 640px;

$mapMarkerSize: 52px;


//Shadow
$red-shadow: 0px 0.5px 2px $red;
$box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
