@import '../styles/variables.scss';

.app__container {
  position: relative;
}
.app__content {
  min-height: 140vh;
}
.Page__title {
  margin: 0.5rem 1.25rem;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
}
.test {
  background-color: $bg;
  position: absolute;
}